langchain
langchain-community
langchain-google-genai
langchain-mistralai
langchain-huggingface
langchain-google-vertexai
chromadb
tiktoken
python-dotenv
unstructured
beautifulsoup4
requests
PyPDF2
sentence-transformers
streamlit
lxml
html5lib
selenium
faiss-cpu
mistralai
genai
