langchain_community
chromadb
tiktoken
python-dotenv
unstructured
beautifulsoup4
requests
PyPDF2
sentence-transformers
streamlit
lxml
html5lib
selenium
langchain-google-genai
faiss-cpu
genai
ConversationalRetrievalChain
mistralai
langchain_mistralai
langchain_huggingface
langchain_google_vertexai